<div data-ng-controller="WaiverListCtrl" id="mainContent" class="" role="main">
    <h1>Demonstrations & Waivers</h1>
    <p>Waivers are vehicles states can use to test new or existing ways to deliver and pay for health care services in Medicaid and the Children’s Health Insurance Program (CHIP). Learn more about waiver and demonstration authorities. In September 2014, the Centers for Medicare &#38; Medicaid Services initiated a national, cross-state evaluation of four types of Medicaid section 1115 demonstrations. See the evaluation design.</p>

	<div id="facet">
<!-- TO DO: remove inline styles -->
		<div style="display:inline-block; zoom:1; *display:inline; letter-spacing:normal; word-spacing:normal; vertical-align:top; width:25% !important;">
			<h2>Refine Your Search:</h2>
			<div class="facet-container"><!-- start: Refine Your Search -->
				<h3><label for="keywords">Keywords: </label></h3>
				<input data-ng-model="keywords" id="keywords" type="search">
				<span class="small"><br/>(i.e. disabled, childless adults, etc.)</span>

				<h3>State(s)</h3>
				<p><!-- start: filter states -->
					<div class="scrollboxcontainer">
						<input type="checkbox" class="filterState" value="All" id="All" checked/><strong><label for="All">All States</label></strong><br/>
						<input type="checkbox" class="filterState" value="Alaska" id="AK" checked/><label for="AK"> Alaska</label><br/>
						<input type="checkbox" class="filterState" value="Alabama" id="AL" checked/><label for="AL"> Alabama</label><br/>
						<input type="checkbox" class="filterState" value="Arkansas" id="AR" checked/><label for="AR"> Arkansas</label><br/>
						<input type="checkbox" class="filterState" value="Arizona" id="AZ" checked/><label for="AZ"> Arizona</label><br/>
						<input type="checkbox" class="filterState" value="California" id="CA" checked/><label for="CA"> California</label><br/>
						<input type="checkbox" class="filterState" value="Colorado" id="CO" checked/><label for="CO"> Colorado</label><br/>
						<input type="checkbox" class="filterState" value="Connecticut" id="CT" checked/><label for="CT"> Connecticut</label><br/>
						<input type="checkbox" class="filterState" value="Delaware" id="DE" checked/><label for="DE"> Delaware</label><br/>
						<input type="checkbox" class="filterState" value="District of Columbia" id="DC" checked/><label for="DC"> District of Columbia</label><br/>
						<input type="checkbox" class="filterState" value="Florida" id="FL" checked/><label for="FL"> Florida</label></br>
						<input type="checkbox" class="filterState" value="Georgia" id="GA" checked/><label for="GA"> Georgia</label></br>
						<input type="checkbox" class="filterState" value="Hawaii" id="HI" checked/><label for="HI"> Hawaii</label></br>
						<input type="checkbox" class="filterState" value="Iowa" id="IA" checked/><label for="IA"> Iowa</label></br>
						<input type="checkbox" class="filterState" value="Idaho" id="ID" checked/><label for="ID"> Idaho</input></label></br>
						<input type="checkbox" class="filterState" value="Illinois" id="IL" checked><label for="IL"> Illinois</input></label></br>
						<input type="checkbox" class="filterState" value="Indiana" id="IN" checked><label for="IN"> Indiana</label></br>
						<input type="checkbox" class="filterState" value="Kansas" id="KS" checked/><label for="KS"> Kansas</label></br>
						<input type="checkbox" class="filterState" value="Kentucky" id="KY" checked/><label for="KY"> Kentucky</label></br>
						<input type="checkbox" class="filterState" value="Louisiana" id="LA" id="" checked/><label for="LA"> Louisiana</label></br>
						<input type="checkbox" class="filterState" value="Massachusetts" id="MA" checked/><label for="MA"> Massachusetts</label></br>
						<input type="checkbox" class="filterState" value="Maryland" id="MD" checked/><label for="MD"> Maryland</label></br>
						<input type="checkbox" class="filterState" value="Maine" id="ME" checked/><label for="ME"> Maine</label></br>
						<input type="checkbox" class="filterState" value="Michigan" id="MI" checked/><label for="MI"> Michigan</label></br>
						<input type="checkbox" class="filterState" value="Minnesota" id="MN" checked/><label for="MN"> Minnesota</label></br>
						<input type="checkbox" class="filterState" value="Missouri" id="MO" checked/><label for="MO"> Missouri</label></br>
						<input type="checkbox" class="filterState" value="Mississippi" id="MS" checked/><label for="MS"> Mississippi</label></br>
						<input type="checkbox" class="filterState" value="Montana" id="MT" checked/><label for="MT"> Montana</label></br>
						<input type="checkbox" class="filterState" value="Nebraska" id="NE" checked/><label for="NE"> Nebraska</label></br>
						<input type="checkbox" class="filterState" value="Nevada" id="NV" checked/><label for="NV"> Nevada</label></br>
						<input type="checkbox" class="filterState" value="New Hampshire" id="NH" checked/><label for="NH"> New Hampshire</label></br>
						<input type="checkbox" class="filterState" value="New Jersey" id="NJ" checked/><label for="NJ"> New Jersey</label></br>
						<input type="checkbox" class="filterState" value="New Mexico" id="NM" checked/><label for="NM"> New Mexico</label></br>
						<input type="checkbox" class="filterState" value="New York" id="NY" checked/><label for="NY"> New York</label></br>
						<input type="checkbox" class="filterState" value="North Carolina" id="NC" checked/><label for="NC"> North Carolina</label></br>
						<input type="checkbox" class="filterState" value="North Dakota" id="ND" checked/><label for="ND"> North Dakota</label></br>
						<input type="checkbox" class="filterState" value="Ohio" id="OH" checked/><label for="OH"> Ohio</label></br>
						<input type="checkbox" class="filterState" value="Oklahoma" id="OK" checked/><label for="OK"> Oklahoma</label></br>
						<input type="checkbox" class="filterState" value="Oregon" id="OR" checked/><label for="OR"> Oregon</label></br>
						<input type="checkbox" class="filterState" value="Pennsylvania" id="PA" checked/><label for="PA"> Pennsylvania</label></br>
						<input type="checkbox" class="filterState" value="Rhode Island" id="RI" checked/><label for="RI"> Rhode Island</label></br>
						<input type="checkbox" class="filterState" value="South Carolina" id="SC" checked/><label for="SC"> South Carolina</label></br>
						<input type="checkbox" class="filterState" value="South Dakota" id="SD" checked/><label for="SD"> South Dakota</label></br>
						<input type="checkbox" class="filterState" value="Tennessee" id="TN" checked/><label for="TN"> Tennessee</label></br>
						<input type="checkbox" class="filterState" value="Texas" id="TX" checked/><label for="TX"> Texas</label></br>
						<input type="checkbox" class="filterState" value="Utah" id="UT" checked/><label for="UT"> Utah</label></br>
						<input type="checkbox" class="filterState" value="Vermont" id="VT" checked/><label for="VT"> Vermont</label></br>
						<input type="checkbox" class="filterState" value="Virginia" id="VA" checked/><label for="VA"> Virginia</label></br>
						<input type="checkbox" class="filterState" value="Washington" id="WA" checked/><label for="WA"> Washington</label></br>
						<input type="checkbox" class="filterState" value="West Virginia" id="WV" checked/><label for="WV"> West Virginia</label></br>
						<input type="checkbox" class="filterState" value="Wisconsin" id="WI" checked/><label for="WI"> Wisconsin</label></br>
						<input type="checkbox" class="filterState" value="Wyoming" id="WY" checked/><label for="WY"> Wyoming</label></br>
					</div>
				</p><!--end: filter states-->

				<h3>Waiver Authority</h3>
				<p>Learn about <a href="http://www.medicaid.gov/Medicaid-CHIP-Program-Information/By-Topics/Waivers/Waivers.html">waiver authorities</a>.</p>

				<div class="filter-box-background"><!-- start: filter waiver authority -->
					<input type="checkbox" class="filterAuthority" name="authority" id="selectAll" value="All" checked/>
					<strong><label for="selectAll">Select ALL</label></strong>
					<br/>
					<input type="checkbox" class="filterAuthority" name="authority" id="1115" value="1115" checked/><label for="1115"> 1115</label><br/>
					<input type="checkbox" class="filterAuthority" name="authority" id="1915b" value="1915 (b)" checked/><label for="1915b"> 1915 (b)</label>
					<div class="check-indent">
						<input type="checkbox" class="filterAuthority" name="authority" id="1915b1" value="1915 (b1)" checked/><label for="1915b1"> 1915 (b1)</label><br/>
						<input type="checkbox" class="filterAuthority" name="authority" id="1915b2" value="1915 (b2)" checked/><label for="1915b2"> 1915 (b2)</label><br/>
						<input type="checkbox" class="filterAuthority" name="authority" id="1915b3" value="1915 (b3)" checked/><label for="1915b3"> 1915 (b3)</label><br/>
						<input type="checkbox" class="filterAuthority" name="authority" id="1915b4" value="1915 (b4)" checked/><label for="1915b4"> 1915 (b4)</label>
					</div>
					<br/>
					<input type="checkbox" class="filterAuthority" name="authority" id="1915c" value="1915 (c)" checked/><label for="1915c"> 1915 (c)</label><br/>
				</div><!-- end: filter waiver authority -->

				<h3>Status</h3>
				<div class="filter-box-background"><!-- start: filter status -->
					<input type="checkbox" class="filterStatus" id="selectAllStatus" value="All" checked/>
					<strong><label for="selectAllStatus">Select ALL</label></strong><br/>
					<input type="checkbox" class="filterStatus" id="Approved" value="Approved" checked/><label for="Approved"> Approved</label><br/>
					<input type="checkbox" class="filterStatus" id="Pending" value="Pending" checked/><label for="Pending"> Pending</label><br/>
					<input type="checkbox" class="filterStatus" id="Inactive" value="Inactive" checked/><label for="Inactive"> Inactive</label><br/>
					<div class="check-indent">
						<input type="checkbox" class="filterStatus" id="Disapproved" value="Disapproved" checked/><label for="Disapproved"> Disapproved</label><br/>
						<input type="checkbox" class="filterStatus" id="Expired" value="Expired" checked/><label for="Expired"> Expired</label><br/>
						<input type="checkbox" class="filterStatus" id="Terminated" value="Terminated" checked/><label for="Expired"> Terminated</label><br/>
						<input type="checkbox" class="filterStatus" id="Withdrawn" value="Withdrawn" checked/><label for="Withdrawn"> Withdrawn</label>
					</div>
				</div><!-- end: filter status -->
			</div>
			<input type="button" class="resetButton" value="Reset Form"/>
		</div><!-- end: Refine Your Search -->
<!-- TO DO: remove inline styles -->
		<div class="results-box" id="results-box" style="display:inline-block; zoom:1; *display:inline; letter-spacing:normal; word-spacing:normal; vertical-align:top;">
			<div><!-- start: Sort by -->
				<form>
					<label for="sortProp">Sort by: </label>
					<select data-ng-model="sortProp" id="sortProp" name="sortProp">
						<option value="state_full_name">State</option>
						<option value="status_order">Status</option>
						<option value="waiver_authority">Waiver Authority</option>
					</select>
					<input type="radio" data-ng-model="direction" id="directionAsc" name="direction" checked><label for="directionAsc"> ascending</label>
					<input type="radio" data-ng-model="direction" id="directionDsc" name="direction" value="reverse"><label for="directionDsc"> descending</label>
				</form>
			</div><!-- end: Sort by -->
			<div><!-- start: list content -->
				<p><b>{{waivers.length}} waivers,</b> ordered according to <samp>{{sortProp}}</samp><span data-ng-show="keywords">, filtered by <samp>{{keywords}}</samp></span></p>

				<ul id="waivers"><!-- TO DO: track by uid? -->
					<li class="dl-results" data-ng-repeat="waiver in waivers | filter:keywords | orderBy:sortProp:direction" data-ng-init="showMore=false">
						<table class="dl-results">
							<tbody>
								<tr>
									<td><strong>Waiver Authority:</strong>{{waiver.waiver_authority}}</td>
									<td>&nbsp;</td>
									<td><strong>Status:</strong> <span class="status">{{waiver.status}}</span></td>
								</tr>
								<tr>
									<td><span class="program-label"><p>Program Name and Number:</p></span></td>
									<td><span class="program-name"><p>{{waiver.program_name_and_number}}</p></span></td>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>
						<div class="show-more-less" data-ng-show="showMore">
							<span><b>State</b> {{waiver.state | uppercase}}</span>
							<button class="showless-btn" type="button" data-ng-show="showMore===true" data-ng-click="showMore=!showMore">Show Less</button>
							<!-- p><b>Summary:</b> {{ waiver . summary }}</p -->
							<table width="100%">
								<tbody>
									<tr>
										<th colspan="2">
											<div><img src="/resources/images/dynamic-lists/calendar-icon.png" alt="calendar icon" width="26" height="21"/>Waiver Dates</div>
										</th>
									</tr>
									<tr>
										<td width="15%"><strong>Approval:</strong></td>
										<td width="85%">{{waiver.approval_date | date: 'MM/dd/yyyy'}}</td>
									</tr>
									<tr>
										<td><strong>Effective:</strong></td>
										<td>{{waiver.effective_date | date: "MM/dd/yyyy"}}</td>
									</tr>
									<tr>
										<td><strong>Expiration:</strong></td>
										<td>{{waiver.expiration_date | date: "MM/dd/yyyy"}}</td>
									</tr>
								</tbody>
							</table>
							<br>
							<table width="100%"><!-- start: Supporting Docs -->
								<tbody>
									<tr>
										<th>
											<div><img src="/resources/images/dynamic-lists/filebox-icon.png" alt="file box icon" width="25" height="23"/>Supporting Document(s)</div>
										</th>
									</tr>
									<tr data-ng-if="waiver.pending_documents"><!-- start: Pending Docs -->
										<td>
											<h3>Pending Application(s) &amp; Related Document(s)</h3>
											<div class="documents">
												<table>
												<thead>
												<tr>
												<th width="110">Document Date</th>
												<th width="245"><span class="doc-title">Title</span></th>
												<th width="159">&nbsp;</th>
												</tr>
												</thead>
												</table>
												<div class="scroll">
												<table>
												<tbody>
												<tr data-ng-repeat="penddoc in waiver.pending_documents">
												<td width="110">{{penddoc.pending_document_date}}</td>
												<td width="245">
												<span class="doc-title">
												<a href="{{penddoc.pending_document_url}}" target="_blank">{{penddoc.pending_title}}</a>
												</span>
												</td>
												<td width="159">
												<span data-ng-if="penddoc.pending_comments_url"><a class="comment-btn" href="{{penddoc.pending_comments_url}}" target="_blank">View/Submit Comments</a></span>
												</td>
												</tr>
												</tbody>
												</table>
												</div><!-- end: Pending class=scroll -->
											</div><!-- end: Pending class=documents -->
										</td>
									</tr><!-- end: Pending Docs -->
									<tr data-ng-if="waiver.current_documents"><!-- start: Approved Docs -->
										<td>
											<h3>Approved Application(s) &amp; Related Document(s)</h3>
											<div class="documents">
												<table>
												<thead>
												<tr>
												<th width="110">Document Date</th>
												<th><span class="doc-title">Title</span></th>
												</tr>
												</thead>
												</table>
												<div class="scroll">
												<table>
												<tbody>
												<tr data-ng-repeat="currdoc in waiver.current_documents">
												<td width="110">{{currdoc.current_document_date}}</td>
												<td colspan="2">
												<span class="doc-title">
												<a href="{{currdoc.current_document_url}}" target="_blank">{{currdoc.current_title}}</a>
												</span>
												</td>
												</tr>
												</tbody>
												</table>
												</div><!-- end: Approved class=scroll -->
											</div><!-- end: Approved class=documents -->
										</td>
									</tr><!-- end: Approved Docs -->
									<tr data-ng-if="waiver.administrative_documents"><!-- start: Administrative Record -->
										<td>
											<h3>Administrative Record</h3>
											<div class="documents">
												<table>
												<thead>
												<tr>
												<th width="110">Document Date</th>
												<th colspan="2"><span class="doc-title">Title</span></th>
												</tr>
												</thead>
												</table>
												<div class="scroll">
												<table>
												<tbody>
												<tr data-ng-repeat="admindoc in waiver.administrative_documents">
												<td width="110">{{admindoc.administrative_document_date}}</td>
												<td colspan="2">
												<span class="doc-title">
												<a href="{{admindoc.administrative_document_url}}" target="_blank">{{admindoc.administrative_title}}</a>
												</span>
												</td>
												</tr>
												</tbody>
												</table>
											</div><!-- end: Administrative class=scroll -->
											</div><!-- end: Administrative class=documents -->
										</td>
									</tr><!-- end: Administrative Record -->
								</tbody>
							</table><!-- end: Supporting Docs -->
						</div><!-- end: class=show-more-less -->
<!-- TO DO: remove inline styles -->
						<div class="show-more-less" style="height: 46px;" data-ng-show="showMore===false">
<!-- TO DO: remove inline styles -->
							<p style="height: 38px; margin-top: 8px; padding-top: 8px; display: inline-block;"><b>State</b> {{waiver.state | uppercase}}</p>
							<button class="showmore-btn" type="button" data-ng-click="showMore=!showMore">Show More</button>
						</div>
					</li>
				</ul>

			</div><!-- end: list content -->
		</div><!-- end: results-box -->

	</div><!-- end faceted -->
</div><!-- #mainContent end -->